@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex justify-center items-center text-center;
  }
  .image-center {
    @apply bg-no-repeat bg-cover bg-center object-center object-cover;
  }
  button {
    @apply rounded px-4 py-2 text-center whitespace-nowrap;
  }
  input {
    @apply w-full rounded-md border shadow-sm px-3 py-3 text-black bg-white;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  a {
    @apply cursor-pointer whitespace-nowrap;
  }
}

button:hover {
  box-shadow: 0 0 100px 0px #00000010 inset;
}

html {
  font-size: 12px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
